#----------------------------------------------------------------------
# LINQ to SQL Files (Không nên theo dõi vì chúng được sinh tự động)
#----------------------------------------------------------------------
DAL/QLThuVien.dbml
DAL/QLThuVien.dbml.layout
DAL/QLThuVien.designer.cs

#----------------------------------------------------------------------
# Visual Studio / IDE Files
#----------------------------------------------------------------------

# Thư mục cache của Visual Studio (chứa cấu hình người dùng)
.vs/
*.user
*.suo
*.userprefs

# Thư mục build output (sản phẩm đầu ra)
[Bb]in/
[Oo]bj/

# Cấu hình NuGet và thư mục gói
*.nuget.props
*.nuget.targets
packages/
*.nupkg

#----------------------------------------------------------------------
# Database Files (LocalDB / SQL Server)
#----------------------------------------------------------------------

# Loại trừ các file Database cục bộ (MDF, LDF)
*.mdf
*.ldf

#----------------------------------------------------------------------
# Backup and Log Files
#----------------------------------------------------------------------
*.[Bb]ak
*.log