<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="QLThuVienConnectionString" connectionString="Server=HOANGNGUYEN\SQLEXPRESS;Database=QLThuVien;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="LibraryManagerApp.Properties.Settings.QLThuVienConnectionString"
   connectionString="Data Source=HOANGNGUYEN\SQLEXPRESS;Initial Catalog=QLThuVien;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="LibraryManagerApp.Properties.Settings.QLThuVienConnectionString1"
   connectionString="Data Source=HOANGNGUYEN\SQLEXPRESS;Initial Catalog=QLThuVien;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="LibraryManagerApp.Properties.Settings.QLThuVienConnectionString2"
   connectionString="Data Source=DESKTOP-68L4LFP\SQLEXPRESS;Initial Catalog=QLThuVien;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>